.Title {
  color: white;
  font-size: calc(10px + 2vmin);
  margin: 1em;
}

.App {
  min-height: 100vh;
  max-height: 50%;
}

.Game-box {
  background-color: #282c34;
}

.Chat-box {
  background-color: #908C8A;
}
